<div class="jumbotron center">
<h1>Welcome to PinterestMan</h1>
<p>Find me in app/views/home</p>

<%= link_to "Submit", root_path, class:'btn btn-success' %>
<%= link_to "Cancel", root_path, class:'btn btn-primary' %>
</div>


